{% extends 'templates/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form action="{{ urlFor('register.post') }}" method="post" autocomplete="off">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname">
        </div>
        <div>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname">
        </div>
        <div>
            <label for="major">Major</label>
            <input type="text" name="major" id="major">
        </div>
         <div>
            <label for="advisor">Advisor</label>
            <select name='advisor' id='advisor'>
                {% for user in advisors %} 
                <option value="{{ user.id_user }}">{{ user.last_name }}, {{ user.first_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="password_confirm">Confirm Password</label>
            <input type="password" name="password_confirm" id="password_confirm">
        </div>

        <div><input type="submit" value="Register"></div>
    </form>
{% endblock %}
